@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
/*----Var----*/
:root {
  --font-family: "Roboto", sans-serif;
  --primary-color: #212121;
  --secondary-color: #2196f3; /*----nav-link .link----*/
  --tirth-color: #ffffff; /*---index-button---*/
  --forth-color: blue; /*--logo---*/
  --letter-spacing: 0.03em; /*----logo----*/
  --logo-font-family: "Raleway"; /*---logo---*/
  --fifth-color: #000000; /*--logo---*/
  --logo-font-style: normal; /*---logo--*/
  --text-decoration: none; /*nav-linl-logo--*/
  --cursor: pointer;
  --sixth-color: #757575;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

p,
a,
li,
ul,
h1,
h2,
h3,
h4,
img {
  margin: 0px;
  padding: 0px;
}
.container {
  max-width: 1200px;
}
body {
  font-family: var(--font-family);
  color: var(--primary-color);
}

.nav-link .link:hover,
.nav-link .link:focus {
  color: var(--secondary-color);
}

.nav-link .link {
  text-decoration: var(--text-decoration);
  color: var(--first-color);
}
.logo {
  color: var(--forth-color);
  text-decoration: var(--text-decoration);
}

.blue-font {
  font-family: var(--logo-font-family);
  font-style: var(--logo-font-style);
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: var(--letter-spacing);

  color: var(--fifth-color);
}
.dark-font {
  font-family: var(--logo-font-family);
  font-style: var(--logo-font-style);
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  /* identical to box height */
  letter-spacing: var(letter-spacing);

  color: (--secondary-color);
}

.nav-link .contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.index-button:hover {
  cursor: var(--cursor);
  font-weight: 700;
  font-size: 16px;
  color: var(--tirth-color);
  background-color: var(--secondary-color);
}

#title {
  font-weight: 900;
  font-size: 44px;
}
.index-title {
  font-weight: 700;
  font-size: 14px;

  color: var(--primary-color);
}
.post {
  font-size: 14px;

  color: var(--sixth-color);
}

.work {
  font-weight: 700;
  font-size: 36px;
  color: var(--primary-color);
}
.team {
  font-weight: 700;
  font-size: 36px;
  color: var(--primary-color);
}
.name {
  font-weight: 500;
  font-size: 16px;
  color: var(--primary-color);
}
.profesion {
  font-size: 16px;
  color: var(--sixth-color);
}
footer .adress {
  font-size: 14px;
}

.nav-link .mail {
  font-size: 14px;

  text-decoration: var(--text-decoration);
}
.nav-link .tel {
  font-size: 14px;

  text-decoration: var(--text-decoration);
}
/*----portfolio----*/

.portfolio-button:hover {
  cursor: var(--cursor);
  color: var(--tirth-color);
  background-color: var(--secondary-color);
}

.photo .title {
  font-weight: 700;
  font-size: 18px;
  color: var(--primary-color);
}
.subtitle {
  font-size: 16px;

  color: var(--sixth-color);
}
